body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#todo-form {
    margin-bottom: 20px;
}

input {
    
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 15px;
    background-color: #337ab7;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    width: 400px;
}

li {
    background: white;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    margin-left: auto;
    background-color: transparent;
    color: red;
    font-weight: bold;
}

/*
item com html
<span class="rating" [class.high-rating]="product.rating > 4.6">
  ⭐ {{ product.rating }}
</span>
item comp
.rating {
  color: #555;
  font-weight: bold;
}
  .high-rating {
  color: #28a745 !important;
*/